XTerm.termName:           xterm-256color
XTerm*faceName:           mononoki:style=Regular:size=10
!xterm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
XTerm*dynamicColors:      true
XTerm*utf8:               2
XTerm*eightBitInput:      true
XTerm*saveLines:          512
XTerm*scrollKey:          true
XTerm*scrollTtyOutput:    false
XTerm*scrollBar:          true
XTerm*rightScrollBar:     true
XTerm*jumpScroll:         true
XTerm*multiScroll:        true
XTerm*toolBar:            false
XTerm*background:         black
XTerm*foreground:         lightgray
XTerm*metaSendsEscape:    true
Xft.dpi:                  160
